// Colors
$primary: #311852;
$blue: #4d36dc;
$rose: #ffdfed;
$orange: #ff7a1f;
$lightgrey: #f7f0ff;
$grey: #8d829c;
$cream: #fff9f5;
$white: #ffffff;
$transparent: #00000000;

// Border radiuses
$rad-s: .625rem;
$rad-m: 1.25rem;
$rad-l: 1.875rem;
$rad-xl: 2.5rem;