@use './partials/variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
menu {
    list-style: none;
}

body {
    font-size: 1.125rem;
    font-family: "Barlow", sans-serif;
}

::selection {
    color: $white;
    background: $primary;
}

// Buttons
.button {
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    background-color: $rose;
    color: black;
    text-align: center;
    padding-top: 9px;
}

// Bacground elements
.background-element {
    pointer-events: none;
    user-select: none;
}